<h1>Level: <%= @board.name.capitalize %></h1>
<div class="wrapper">
  <div class="bigimage">
    <%= image_tag(@board.name) %>
  </div>
  <div class="characterimage">
    <h3>Find...</h3>
    <% @characters.each do |character| %>
      <div class="char <%= character.name.downcase %>">
        <p><%= character.name %></p>
        <div class="thumbnail"><%= image_tag(character.name.downcase) %></div>
        <div class="checkmark"><%= image_tag("checkmark.png") %></div>
      </div>
    <% end %>
  </div>
  <div id="gameover">
    <p>You won!</p>
    <%= link_to "Click to continue...", players_path(board_id: @board.id, start: 5) %>
    <%= @start %>
  </div>
</div>
